@model EmployeeViewModel

@{    
    ViewBag.Title = "Employee Details";
}

<div class="card" style="width: 18rem;">
    <img src="~/images/avtar.jpg" class="card-img-top" alt="~/images/avtar.jpg">
    <div class="card-body">
        <h5 class="card-title">@Model.Employee.Name</h5>
        <p class="card-text">@Model.Employee.Email</p>
        <p class="card-text">@Model.Employee.Department</p>
        <a href="#" class="btn btn-primary">Back</a>
        <a href="#" class="btn btn-primary">Delete</a>
    </div>
</div>


@section Scripts{
<script src="~/js/customscript.js"></script>
}